/* navbar  */

nav {
    background-color: rgba(242, 242, 242, 0.93);
    -moz-box-shadow: 0px 2px 5px #808080;
    -webkit-box-shadow: 0px 2px 5px #808080;
    box-shadow: 0px 2px 5px #808080;
}

.navbar-brand>img {
    height: 40px;
}

.navbar-brand>span {
    margin-left: 7px;
    color: #005da8;
    font-weight: 700;
}

.navbar-brand>span>span {
    color: #009ee0;
}

.navbar-nav {
    font-size: 17px;
}

.navbar-nav>li>a {
    color: #332c2c;
    font-weight: 400;
    position: relative;
}

.nav-item.active>a {
    color: #005da8;
}

.nav-item.active>a::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    width: 90%;
    height: 3px;
    background-color: #005da8;
}

.nav-mid-link>li {
    margin-right: 10px;
}

.reg-link>i {
    margin-right: 4px;
    color: #005da8;
    font-size: 14px;
}

.reg-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.navbar-nav>.nav-item>.nav-link.reg-link {
    color: #005da8;
}

.navbar-nav>.nav-item>.nav-link.signup-link {
    color: #838383;
}

#collapse-nav {
    padding: 5px;
    cursor: pointer;
}

#collapse-content {
    position: absolute;
    right: 0px;
    background-color: #f2f2f2;
    top: 52px;
    width: 110px;
    z-index: 99;
    -moz-box-shadow: 0px 2px 5px #808080;
    -webkit-box-shadow: 0px 2px 5px #808080;
    box-shadow: 0px 2px 5px #808080;
}

#collapse-content>ul {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#nav-register-btn,
#nav-register-btn:hover,
#nav-register-btn:active,
#nav-register-btn:focus,
#nav-register-btn:visited {
    border: none;
    border-width: 0px;
    background-color: transparent;
    outline: none;
}


/* Landing page content */

#landing-img-bgd {
    background: url('../img/landing-bg1.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    position: relative;
    z-index: 0;
}

#landing-img-bgd::after {
    position: absolute;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(40, 40, 40, 0.52);
    z-index: 1;
}

#img-slogan {
    position: absolute;
    left: 50%;
    top: 30%;
    display: inline-block !important;
    transform: translateX(-50%);
    color: #dddddd;
    font-size: 45px;
    z-index: 2;
    white-space: nowrap;
}

#slogan-logo {
    position: absolute;
    left: 50%;
    top: 20%;
    width: 150px;
    display: inline-block !important;
    transform: translateX(-50%);
    z-index: 2;
}

:root {
    --primary-color: #005da8;
}

.text-my-primary {
    color: var(--primary-color);
}

.lead {
    font-size: 1rem;
}

.my-1 {
    margin: 1rem 0;
}


/* Form  */

#registerModal {
    z-index: 99;
    top: 20%;
}

.modal-backdrop {
    z-index: 90;
}

.form-container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.form .form-group {
    margin: 1.2rem 0;
}

.form .form-text {
    display: block;
    margin-top: 0.3rem;
    color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
    display: block;
    width: 100%;
    padding: 0.4rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
}

.form input[type='submit'],
button {
    font: inherit;
}