.search-link-container {
    width: 90%;
    background-color: rgb(206, 206, 206);
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 6px;
}
.searches {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.search-link-container a {
    color: #009ee0
}